ENVIRONMENT=local

EMAILS__FROM=
EMAILS__RECIPIENT=

LINKS__EMAIL=email@example.com
LINKS__GITHUB=https://github.com/username
LINKS__LINKEDIN=https://linkedin.com/in/username
LINKS__X=https://x.com/username
LINKS__INSTAGRAM=https://instagram.com/username
LINKS__SPOTIFY=https://open.spotify.com/user/username

UMAMI__SCRIPT_URL=
UMAMI__WEBSITE_ID=

RESEND__API_KEY=
RESEND__AUDIENCE_ID=
