.snippet__declaration {
  color: var(--color-secondary-blue);
}

.snippet__name {
  color: var(--color-accent-teal);
}

.snippet__code {
  color: var(--color-accent-orange);
}

.snippet__code--link {
  color: var(--color-accent-orange);
  text-decoration: underline;
  cursor: pointer;
}
