@import '@fontsource/inter/300.css';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';
@import '@fontsource/inter/300-italic.css';
@import '@fontsource/inter/400-italic.css';
@import '@fontsource/inter/500-italic.css';
@import '@fontsource/inter/600-italic.css';
@import '@fontsource/inter/700-italic.css';
@import '@fontsource/fira-code/300.css';
@import '@fontsource/fira-code/400.css';
@import '@fontsource/fira-code/500.css';
@import '@fontsource/fira-code/600.css';
@import '@fontsource/fira-code/700.css';

/* All numerable values go from 3xs to 10xl, with 4px ≈ 0.25rem steps of difference between them */
/* The only exception are the font sizes which have a step of 2px ≈ 0.125rem */

:root {
  color-scheme: dark light;

  /* Colors */
  --color-primary: #ff8a65;
  --color-secondary: #ffcc80;
  --color-background: #090807;
  --color-neutral-white: #f2ebe3;
  --color-neutral-dark-gray: #383838;
  --color-neutral-light-gray: #757575;
  --color-accent-red: #c62828;
  --color-accent-brown: #a67b5b;
  --color-accent-olive: #6d8b74;
  --color-accent-copper: #1f1010;

  /* Font families */
  --font-family-inter: 'Inter', 'Helvetica', 'Arial', sans-serif;
  --font-family-fira-code: 'Fira Code', 'Courier', 'Courier New', monospace;

  /* Font sizes */
  --font-size-3xs: 0.5rem;
  --font-size-2xs: 0.625rem;
  --font-size-xs: 0.75rem;
  --font-size-s: 1rem;
  --font-size-m: 1.125rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.375rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.625rem;
  --font-size-4xl: 1.75rem;
  --font-size-5xl: 1.875rem;
  --font-size-6xl: 2rem;
  --font-size-7xl: 2.125rem;
  --font-size-8xl: 2.25rem;
  --font-size-9xl: 2.375rem;
  --font-size-10xl: 2.5rem;

  /* Font weights */
  --font-weight-thin: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-weight-black: 700;

  /* Margins */
  --margin-3xs: 0.25rem;
  --margin-2xs: 0.5rem;
  --margin-xs: 0.75rem;
  --margin-s: 1rem;
  --margin-m: 1.25rem;
  --margin-l: 1.5rem;
  --margin-xl: 1.75rem;
  --margin-2xl: 2rem;
  --margin-3xl: 2.25rem;
  --margin-4xl: 2.5rem;
  --margin-5xl: 2.75rem;
  --margin-6xl: 3rem;
  --margin-7xl: 3.25rem;
  --margin-8xl: 3.5rem;
  --margin-9xl: 3.75rem;
  --margin-10xl: 4rem;

  /* Paddings */
  --padding-3xs: 0.25rem;
  --padding-2xs: 0.5rem;
  --padding-xs: 0.75rem;
  --padding-s: 1rem;
  --padding-m: 1.25rem;
  --padding-l: 1.5rem;
  --padding-xl: 1.75rem;
  --padding-2xl: 2rem;
  --padding-3xl: 2.25rem;
  --padding-4xl: 2.5rem;
  --padding-5xl: 2.75rem;
  --padding-6xl: 3rem;
  --padding-7xl: 3.25rem;
  --padding-8xl: 3.5rem;
  --padding-9xl: 3.75rem;
  --padding-10xl: 4rem;

  /* Border radius */
  --border-radius-none: 0;
  --border-radius-round: 50%;
  --border-radius-3xs: 0.25rem;
  --border-radius-2xs: 0.5rem;
  --border-radius-xs: 0.75rem;
  --border-radius-s: 1rem;
  --border-radius-m: 1.25rem;
  --border-radius-l: 1.5rem;
  --border-radius-xl: 1.75rem;
  --border-radius-2xl: 2rem;
  --border-radius-3xl: 2.25rem;
  --border-radius-4xl: 2.5rem;
  --border-radius-5xl: 2.75rem;
  --border-radius-6xl: 3rem;
  --border-radius-7xl: 3.25rem;
  --border-radius-8xl: 3.5rem;
  --border-radius-9xl: 3.75rem;
  --border-radius-10xl: 4rem;

  /* Z indexes */
  --z-index-negative: -1;
  --z-index-100: 100;
  --z-index-200: 200;
  --z-index-300: 300;
  --z-index-400: 400;
  --z-index-500: 500;
}

/* Reset and base styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: calc(100vh - ((80px + 32px) + (24px + 64px)));
  color-scheme: dark light;
  color: var(--color-neutral-light-gray);
  background: transparent;
  outline: none;
  caret-color: transparent;
  font-size: var(--font-size-s);
  font-family: var(--font-family-inter);
  font-weight: var(--font-weight-regular);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  #root {
    margin: 80px 32px 32px 32px;

    @media screen and (min-width: 768px) {
      margin: 80px 64px 32px 64px;
    }
  }

  #particlesComponent {
    position: absolute;
    z-index: var(--z-index-negative);
  }
}

main {
  min-height: calc(100vh - ((80px + 32px) + 80px));
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 0;

  @media screen and (min-width: 768px) {
    padding: 64px 0;
    min-height: calc(100vh - ((80px + 32px) + 24px));
  }
}

img,
picture,
video,
canvas {
  height: auto;
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
