/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

/* Resets */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Fira Code', monospace;
}

body {
  width: 100%;
  min-height: 100vh;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
